@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Barrio');

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Barrio', cursive;
  font-size: 20px;
}

h2{
  font-size: 70px;
}

h4{
  font-size: 35px;
}

p{
  font-family: 'Questrial', cursive;
  font-size: 18px;
}

.icon{
  font-size: 80px;
  opacity: .5;
}

#about, #services, #background{
  padding: 170px;
}

#services h2{
  padding-bottom: 30px;
}

#background p, #background h2 {
  color: white;
}

.hidden{
  display: none;
}

#canvas{
  z-index: 6;
}


/* ANIMATIONS ========================================== */

.name{
  color: white;
  position: relative;
  top: 0;
  bottom: 0;
  z-index: 2;
  width: 80vw;
  height: 100vh;
  font-size: 8em;
  background: transparent;
}

.name::before{
  content: "elizabeth \A flournoy";
  white-space: pre-wrap;
  display: inline-block;
  position: absolute;
  top: 0;
}

.name::after{
  content: "elizabeth \A flournoy";
  position: absolute;
  left: 0;
  height: 0;
  width: 100%;
  top: 0;
  bottom: 0;
  color: #cc5500;
  z-index: 5;
  transition: height 4s linear;
  background-color: white;
  white-space: pre-wrap;
  overflow: hidden;
  animation: slidedown 2.5s linear 2000ms forwards;
}

@keyframes slidedown{
  0%{
    height: 0%;
  }
  100%{
    height: 100%;
  }
}

.drip{
  position: absolute;
  top: 0;
  width: 15px;
  right: 20vw;
  background: #cc5500;
  animation: dripdown 2400ms linear forwards;
}

@keyframes dripdown {
  0%{
    height: 0;
    width: 15px
  }
  50%{
    height: 100vh;
    width: 15px;
  }
  100%{
    height: 100vh;
    width: 80vw;
  }
}

.drip2go{
  position: absolute;
  top: 70vh;
  right: 0vw;
  border-top: 30px solid #cc5500;
  background: white;
  z-index: 2;
  animation: dripleft 1.3s linear 1200ms forwards;
}

@keyframes dripleft {
  0%{
    width: 0;
  }
  50%{
    width: 50vw;
  }
  100%{
    width: 100vw;
  }
}

.slideup{
  width: 100vw;
  animation: slideup 1.5s linear forwards;
}

@keyframes slideup {
  0%{
    top: 70vh;
    height: 30px;
  }
  100%{
    top: 0vh;
    height: 100vh;
    border-top: 100vh solid #cc5500;
  }
}

.backgroundOrange{
  background-color: #cc5500;
  height: 100vh;
  width: 100vh;
}

/*TRIANGLES ===============================*/
@import "compass/css3";

canvas{
  display:block;
  //clip-path: url(#clipping);
}

/* COLOR ==================================*/
#canvas {
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 50s; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: #cc5500;}
  25%  {background: #DE925C;}
  50%  {background: #BA4E00;}
  75%  {background: #5D2700;}
  100% {background: #cc5500;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #cc5500;}
  25%  {background: #DE925C;}
  50%  {background: #BA4E00;}
  75%  {background: #5D2700;}
  100% {background: #cc5500;}
}
